*.iml
*.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

892206-banking-finance
.gradle
.idea/

*.pro

app/src/androidTest/java/molinov/creditcalculator/ExampleInstrumentedTest.kt

app/src/test/java/molinov/creditcalculator/ExampleUnitTest.kt

app/keys.jks

*.aab
